<div class="hero flex flex-col justify-center items-center w-100 h-screen font-mono -mt-16">
    <div class="top flex flex-col w-100 items-center pb-10">
        <div class="title text-6xl bg-gradient-to-r from-cst-orange to-cst-pink bg-clip-text text-transparent w-8/12 text-center py-8">
            Navigate Your Career Journey with Career Compass
        </div>
        <div class="sub-title text-xl text-txt-white py-4">
            Unlock Your Potential, Explore Opportunities, and Land Your Dream Job
        </div>
    </div>
    <div class="cta-btns flex flex-col w-5/12 justify-between items-center text-txt-white text-lg">
        <div class="get-started px-4 py-2 border-2 rounded-lg border-cst-green cursor-pointer  hover:text-bg-blue hover:bg-gradient-to-r from-cst-green to-cst-blue">
            <a class="flex justify-center items-center"routerLink="/skills">Start your Journey
            <span class="material-symbols-outlined ml-2 text-lg">
            arrow_right_alt
            </span></a>
        </div>
        <div class="assessment mt-10 px-4 py-2 bg-gradient-to-r from-cst-orange to-cst-pink bg-clip-text text-transparent"><a routerLink="/skilltest">Confused ? Discover your Path by a Skill Test</a></div>
    </div>
    </div>
    
    <div class="aboutus h-screen flex flex-col bg-bg-blue text-txt-white font-mono">
        <div class="top h-1/2 w-100 flex"> 
            <div class="left h-100 flex flex-col w-1/2 justify-center items-center text-3xl">
                <div class="icon">
                    <span class="material-symbols-outlined text-4xl p-5 border-4 rounded-md border-r-cst-pink border-t-cst-pink border-l-cst-orange border-b-cst-orange bg-gradient-to-r from-cst-orange to-cst-pink bg-clip-text text-transparent">
                        groups
                    </span>
                </div>
                <div class="title p-5 bg-gradient-to-r from-cst-orange to-cst-pink bg-clip-text text-transparent text-4xl">About Us</div>
            </div>
            <div class="right h-100 flex w-1/2 justify-center items-center text-2xl p-20 text-justify">
                Welcome to Career Compass, your personalized guide in the tech landscape. We understand that navigating the career world can be challenging, and that's why we're here to simplify the journey for college students like you.
            </div>
        </div>
        <div class="bottom h-1/2 w-100 flex flex-row-reverse"> 
            <div class="left h-100 flex flex-col w-1/2 justify-center items-center text-3xl">
                <div class="icon">
                    <span class="material-symbols-outlined text-4xl p-5 border-4 rounded-md border-r-cst-pink border-t-cst-pink border-l-cst-orange border-b-cst-orange bg-gradient-to-r from-cst-orange to-cst-pink bg-clip-text text-transparent">
                        track_changes
                    </span>
                </div>
                <div class="title p-5 bg-gradient-to-r from-cst-orange to-cst-pink bg-clip-text text-transparent text-4xl">Our Mission</div>
            </div>
            <div class="left h-100 flex w-1/2 justify-center items-center text-2xl p-20 text-justify">
                Our mission is to empower you with curated resources, personalized assessments, and valuable insights, ensuring you have the tools to make informed decisions about your career.
            </div>
        </div>
    </div>